#generations {
	padding: 0;
}

li.generation {
	padding-bottom: 5px;
	border-bottom:solid 1px #3C3C3C;
}
li.generation:last-child {
	border-bottom:none;
}
.generation-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 5px;
	align-items: baseline;
}
.generation-header-item {
	flex-grow: 1;
	flex-basis: 0;
}
.generation-title {
	font-weight: bold;
}


.progress {
	height:4px;
	background-color: red;
}
.complete {
	height:100%;
	float:left;
	color:#666;
}
.running {
	height:100%;
	background-color: #ffff00;
	float:left;
}
ul.cars {
	list-style-type:none;
	margin:0;
	padding:0;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}
ul.cars li {
	margin:0 0 0 1%;
	overflow: hidden;
	border:none;
	flex-grow: 1;
	flex-basis: 9%;
	font-size: 0.9em;
}