#generations {
	margin:0;
	padding: 0;
}
li.generation {
	margin-top: 5px;
}
.generation-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.generation-header-item {
	flex-grow: 1;
	flex-basis: 0;
}
.generation-header-item:nth-child(2) {
	text-align: center;
}
.generation-header-item:last-child {
	text-align: right;
}
.progress {
	height:4px;
	background-color: red;
}
.complete {
	height:100%;
	background-color: #054500;
	float:left;
}
.running {
	height:100%;
	background-color: #ffff00;
	float:left;
}
ul.cars {
	list-style-type:none;
	margin:0;
	padding:0;
}
ul.cars li {
	float:left;
	margin:0;
	padding:0;
	width:5%;
	overflow: hidden;
	border:none;
}