<li style="display: block" class="generation">
    {{ #if (!generationComplete) }}
        Running generation {{ generationNumber }}
    {{ else }}
        Generation {{ generationNumber }} average score {{ averageScore }}
    {{ /if }}
    {{ #if (highscore) }}
        New highscore: {{ highscore }}
    {{ /if }}
    <div class="progress">
        <div class="complete" style="width: {{percentComplete}}%"></div>
        {{ #if (displayCurrentlyRunningMember) }}
            <div class="running" style="width: {{progressBarUnitPercentage}}%;"></div>
        {{ /if }}
        <div style="clear:both;"></div>
    </div>
    <ul class="cars">
        {{#cars}}
            <car />
        {{/cars}}
    </ul>
    <div style="clear:both"></div>
</li>