<li style="display: block" class="generation">
    <div class="generation-header">
        <div class="generation-header-item generation-title">
            Generation {{ generationNumber }}
        </div>
        <div class="generation-header-item generation-average-score">
            Average score: {{ averageScore }}
        </div>
        <div class="generation-header-item generation-high-score">
            {{ #if (highScore) }}
                New high score: {{ highScore }}
            {{ /if }}
        </div>
    </div>
    <ul class="cars">
        {{#cars}}
            <car />
        {{/cars}}
    </ul>
    <div style="clear:both"></div>
</li>